NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

# Better Auth
BETTER_AUTH_SECRET=         # openssl rand -base64 32
BETTER_AUTH_URL=http://localhost:3000

# Supabase / Prisma
DATABASE_URL=postgresql://...pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
DIRECT_URL=postgresql://...supabase.co:5432/postgres

# Social providers (opcional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
